footer {
  background: #313234;

  .footer_top {
    height: 75px;
    border-bottom: 1px solid #72757c;

    .inner {
      position: relative;
      width: 1280px;
      margin: 0 auto;

      .footer_gnb {
        position: absolute;
        top: 30px;
        left: 20px;

        > ul {
          overflow: hidden;

          > li {
            float: left;

            > a {
              color: #cdcdcd;
              font-size: .875em;
              display: block;
            }
          }

          > li + li > a:before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 10px;
            background: #72757c;
            vertical-align: middle;
            margin: 0 20px;
          }
        }
      }

      .snslist {
        position: absolute;
        top: 20px;
        right: 20px;

        > ul {
          overflow: hidden;

          > li {
            float: left;

            > a {
              display: block;

              .ico {
                display: block;
              }

              .ico.sns1 {
                width: 110px;
                height: 30px;
                background: url('../../../img/footer_sns_band.png') no-repeat 0 0;
                background-size: 100%;
              }

              .ico.sns2 {
                width: 145px;
                height: 30px;
                background: url('../../../img/footer_sns_kakaostroy.png') no-repeat 0 0;
                background-size: 100%;
              }
            }

            .callcenter {
              color: #fff;
              display: inline-block;
              margin-top: 2px;
              font-size: 1.25em;
            }
          }

          > li + li {
            margin-left: 30px;
          }
        }
      }
    }
  }

  .footer_bottom {
    padding: 0;
    height: 265px;

    .inner {
      position: relative;
      width: 1280px;
      margin: 0 auto;

      .footlogo {
        position: absolute;
        top: 55px;
        left: 20px;
      }

      .addinfo {
        position: absolute;
        top: 50px;
        left: 240px;

        address {
          color: #fff;
          font-size: .875em;
          line-height: 2;
        }

        .copywright {
          color: #fff;
          font-size: .875em;
          margin-top: 40px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .footer_top {
      height: 140px;

      .inner {
        width: inherit;

        .snslist {
          top: 75px;
          left: 20px;

          > ul {

            > li {
              display: inline-block;
              vertical-align: middle;
              float: none;

              .callcenter {
                font-size: .875em;
                margin-top: 0;
              }

              > a {
                .ico.sns1 {
                  width: 74px;
                  height: 20px;
                }

                .ico.sns2 {
                  width: 97px;
                  height: 20px;
                }
              }
            }

            > li + li {
              margin-left: 10px;
            }
          }
        }
      }
    }

    .footer_bottom {
      height: 320px;

      .inner {
        width: inherit;

        .footlogo {
          top: 25px;
          width: 90px;

          >img {
            width: 100%;
          }
        }

        .addinfo {
          left: 0;
          top: 125px;
          width: 100%;
          padding: 15px;

          .copywright {
            font-size: .75em;
            margin-top: 20px;
          }

          .account {
            top: 60px;
            left: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  footer {
    .footer_top .inner, .footer_bottom .inner {
      width: inherit;
    }
  }
}

